@import "../../../common/playerGradients.scss";

$player-icon-size: 60px;

.playerInfo {
  //background-color: rgb(53, 53, 53);
  padding: 20px;
  border-radius: 10px;
}

.playerIcon {
  display: inline-flex !important;
  width: $player-icon-size;
  min-width: $player-icon-size;
  height: $player-icon-size;
  border-radius: 50%;
  margin-right: 2em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.248);
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.631);
  background-color: black;
}

.playerInfo.active .playerIcon {
  box-shadow: 0px 0px 7px 5px rgba(255, 255, 255, 0.857);
}

.playerIcon h3 {
  font-size: 2.4em !important;
}

.playerName {
  display: inline;
}

.topRow {
  display: flex;
  align-items: center;
}

.cardCount {
  margin-left: calc(#{$player-icon-size} + 2em);
  display: flex;
  align-items: center;
}

.cardIcon {
  width: 40px;
  margin-right: 10px;
}
