
.deck-margins {
    margin-left: 5em;
    margin-right: 5em;
}
.mydeck {
    padding-left: 20%;
    padding-right: 20%;

}
.opponentdeck {
    margin-left: 2em;
    margin-right: 2em;
}

.highlight {
    filter: brightness(1.3) drop-shadow(#ffffff 0px 0px 20px) !important;
}


.opponentdeck .opponent-name{
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.deck {
    position: relative;
    width: 100%;
    margin: 0;
    height: 20em;
}
.deck.opponent {
    height: 12em;
    filter: drop-shadow(rgba(0, 0, 0, 0.289) 20px 20px 10px)
}
