.backgroundGradient {
  background-image: url("../assets/loginGradient.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

:focus {
  border-color: white !important;
}

.MuiOutlinedInput-root {
  border-color: red !important;
}
