:root {
  --card-size-factor: 0.9;
  --card-small-factor: 0.8;
}
.card {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: calc(10em * var(--card-size-factor));
  height: calc(18em * var(--card-size-factor));
  border: 0px solid rgba(255, 255, 255, 0.788);
  border-radius: calc(10px * var(--card-size-factor));
  box-shadow: #00000044 0px 0px 5px;
  transition: transform 0.15s ease-out;
  user-select: none;
  padding-left: calc(10px * var(--card-size-factor));
  padding-right: calc(10px * var(--card-size-factor));
}

.card.small {
  width: calc(10em * var(--card-size-factor) * var(--card-small-factor));
  height: calc(18em * var(--card-size-factor) * var(--card-small-factor));
  border-radius: calc(
    10px * var(--card-size-factor) * var(--card-small-factor)
  );
  padding-left: calc(10px * var(--card-size-factor) * var(--card-small-factor));
  padding-right: calc(
    10px * var(--card-size-factor) * var(--card-small-factor)
  );
}

.card h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(4em * var(--card-size-factor));
  text-align: center;
  color: #ffffff;
}

.card h2.first {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(1.5em * var(--card-size-factor));
  align-self: flex-start;
  color: #ffffff;
}

.card h2.last {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(1.5em * var(--card-size-factor));
  align-self: flex-end;
  color: #ffffff;
}

.inactive .card {
  filter: brightness(0.7) saturate(0.8);
  cursor: default !important;
}
.card.inactive {
  filter: brightness(0.5) saturate(0.5);
  cursor: default !important;
}

.mydeck .card {
  cursor: pointer;
}

.card.selected {
  box-shadow: #ffffff 0px 0px 10px 2px;
  transform: translate(0em, -8em);
}

.inactive .card.selected {
  box-shadow: none !important;
}

.card.right {
  transform: translate(calc(6em * var(--card-size-factor)), 1em);
  rotate: 2deg;
}

.bump .card.right {
  transform: translate(calc(6.5em * var(--card-size-factor)), 1em);
}

.card.left {
  transform: translate(calc(-2em * var(--card-size-factor)), 1em);
  rotate: -2deg;
}

.bump .card.left {
  transform: translate(calc(-3em * var(--card-size-factor)), 1em);
}

.card-red {
  background: linear-gradient(to top right, #c7201d, #e35d5b);
}

.card-blue {
  background: linear-gradient(to top right, #00d2ff, #3a7bd5);
}

.card-yellow {
  background: linear-gradient(to top right, #e9b014, #f3cd35);
}

.card-green {
  background: linear-gradient(
    to top right,
    #348f50,
    #6fd356
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-wildcard {
  background: linear-gradient(
    to top right,
    #200122,
    #6f0000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes fly-away {
  from {
    transform: translate(0em, -8em);
    opacity: 1;
  }
  to {
    transform: translate(0em, -50em);
    opacity: 0;
  }
}

.card.fly-away {
  animation: fly-away 0.5s ease-in;
}
