.fullWidth {
  width: 100vw;
}
.fullHeight {
  height: 100vh;
}
.centerVertically {
  display: flex;
  align-items: center;
}
.centerHorizontally {
  display: flex;
  justify-content: center;
}
.centerText {
  text-align: center;
  vertical-align: middle;
}

.content {
    background-color: #1b1b1b;
    height: 100vh;
    padding: 10em 30%;
    overflow-y: scroll;
}
@media (max-width: 1000px) {
 .content {
   padding: 10em 5em;
   overflow-y: scroll;
 }   
}