.gameBar {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3C3C3C;
}
.backArrow {
    color: #E4E4E4;
}

.backArrowCircle {
    border-radius: 50%;
    background-color: #585858;
}
.logo {
    height: 3em;
}

.gameOptionsLink {
    color: #b0b0b0;
    text-decoration: none;
    margin-left: auto;
}