.playerGradient-1 {
  background: linear-gradient(to right, #c7201d, #e35d5b);
}
.playerGradient-2 {
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
}
.playerGradient-3 {
  background: linear-gradient(to right, #e9b014, #f3cd35);
}
.playerGradient-4 {
  background: linear-gradient(to right, #348f50, #6fd356);
}
.playerGradient-5 {
  background: linear-gradient(to right, #e44d26, #f16529);
}
.playerGradient-6 {
  background: linear-gradient(to right, #c33764, #1d2671);
}
.playerGradient-7 {
  background: linear-gradient(to right, #000046, #1cb5e0);
}
.playerGradient-8 {
  background: linear-gradient(to right, #30e8bf, #ff8235);
}
.playerGradient-9 {
  background: linear-gradient(to right, #4568dc, #b06ab3);
}
.playerGradient-10 {
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
}
